# dataframe 增删改查

## 增

In [56]:
import pandas as pd

df = pd.read_csv('./data/1960-2019全球GDP数据.csv', encoding='GBK')
df2 = df.head().copy()
df2

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

### 方式一: df['列名']=值 添加列

In [57]:
# 方式一:df2['c1'] = 23 添加列
df2['c1']= 23
df2

   year country           GDP  c1
0  1960      美国  543300000000  23
1  1960      英国   73233967692  23
2  1960      法国   62225478000  23
3  1960      中国   59716467625  23
4  1960      日本   44307342950  23

In [58]:
df2['c2'] = ['huahua', 'xiaoming', 'xiaohong', 'xiaoli', 'xiaobai']
df2

   year country           GDP  c1        c2
0  1960      美国  543300000000  23    huahua
1  1960      英国   73233967692  23  xiaoming
2  1960      法国   62225478000  23  xiaohong
3  1960      中国   59716467625  23    xiaoli
4  1960      日本   44307342950  23   xiaobai

In [59]:
df2['c3'] = df2.year*2
df2

   year country           GDP  c1        c2    c3
0  1960      美国  543300000000  23    huahua  3920
1  1960      英国   73233967692  23  xiaoming  3920
2  1960      法国   62225478000  23  xiaohong  3920
3  1960      中国   59716467625  23    xiaoli  3920
4  1960      日本   44307342950  23   xiaobai  3920

In [60]:
def f():
    return 2500
df2['c4'] = f()
df2

   year country           GDP  c1        c2    c3    c4
0  1960      美国  543300000000  23    huahua  3920  2500
1  1960      英国   73233967692  23  xiaoming  3920  2500
2  1960      法国   62225478000  23  xiaohong  3920  2500
3  1960      中国   59716467625  23    xiaoli  3920  2500
4  1960      日本   44307342950  23   xiaobai  3920  2500

In [61]:
df2['c5']= (lambda :2500)()
df2

   year country           GDP  c1        c2    c3    c4    c5
0  1960      美国  543300000000  23    huahua  3920  2500  2500
1  1960      英国   73233967692  23  xiaoming  3920  2500  2500
2  1960      法国   62225478000  23  xiaohong  3920  2500  2500
3  1960      中国   59716467625  23    xiaoli  3920  2500  2500
4  1960      日本   44307342950  23   xiaobai  3920  2500  2500

### 方式二: df.assign(列名=值)

In [62]:
df3 = df[:5]
# df3.assign(c1=23)
df3

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

#### 添加单列 df.assign(列名=值)

In [63]:
# 增加单列
df3.assign(c1=23)

   year country           GDP  c1
0  1960      美国  543300000000  23
1  1960      英国   73233967692  23
2  1960      法国   62225478000  23
3  1960      中国   59716467625  23
4  1960      日本   44307342950  23

#### 添加多列 df.assign(列名=值,列名=值)

In [64]:
df3.assign(
    c2='huahua', 
    c3=(lambda :2500)(),
    c4 = f(),
    c5 =['huahua', 'xiaoming', 'xiaohong', 'xiaoli', 'xiaobai'],
    c6 = df3.year*2
)

   year country           GDP      c2    c3    c4        c5    c6
0  1960      美国  543300000000  huahua  2500  2500    huahua  3920
1  1960      英国   73233967692  huahua  2500  2500  xiaoming  3920
2  1960      法国   62225478000  huahua  2500  2500  xiaohong  3920
3  1960      中国   59716467625  huahua  2500  2500    xiaoli  3920
4  1960      日本   44307342950  huahua  2500  2500   xiaobai  3920

## 删除

In [65]:
df4 = df[:10]
df4

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950
5  1960     加拿大   40461721692
6  1960     意大利   40385288344
7  1960      印度   37029883875
8  1960    澳大利亚   18577668271
9  1960      瑞典   15822585033

### df.drop(index=[0,1,2]) 删除行

In [66]:
df4.drop(index=[0,1,2],inplace=True)
df4

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13432\2814480729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(index=[0,1,2],inplace=True)

   year country          GDP
3  1960      中国  59716467625
4  1960      日本  44307342950
5  1960     加拿大  40461721692
6  1960     意大利  40385288344
7  1960      印度  37029883875
8  1960    澳大利亚  18577668271
9  1960      瑞典  15822585033

### del df[列名] 删除列

In [67]:
del df4['year']
df4

  country          GDP
3      中国  59716467625
4      日本  44307342950
5     加拿大  40461721692
6     意大利  40385288344
7      印度  37029883875
8    澳大利亚  18577668271
9      瑞典  15822585033

### df.drop(columns=[列名]) 删除列

In [68]:
df4.drop(columns=['GDP'],inplace=True)
df4

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13432\689743768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(columns=['GDP'],inplace=True)

  country
3      中国
4      日本
5     加拿大
6     意大利
7      印度
8    澳大利亚
9      瑞典

## 去重

### dataframe 去重 drop_duplicates()

In [69]:
df5 = df[:5].copy()
df6 = pd.concat([df5,df5])
df6.drop_duplicates()

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

In [70]:
df6.nunique() #nunique() 是 Pandas 中的一个方法，用来计算 DataFrame 或 Series 中唯一值的数量。它会返回不重复的值的个数

year       1
country    5
GDP        5
dtype: int64

### series 去重

In [71]:
df7 = pd.concat([df5,df5])
df7

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

#### drop_duplicates()

In [72]:
df8 = df7.copy()
df8

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950

In [73]:
df7.country.drop_duplicates()

0    美国
1    英国
2    法国
3    中国
4    日本
Name: country, dtype: object

#### unique()

In [74]:
df8.country.unique()

array(['美国', '英国', '法国', '中国', '日本'], dtype=object)

## 修改 replace('旧值','新值')

In [75]:
df8 = df[:10].copy()
df8

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950
5  1960     加拿大   40461721692
6  1960     意大利   40385288344
7  1960      印度   37029883875
8  1960    澳大利亚   18577668271
9  1960      瑞典   15822585033

In [76]:
df8['country'].replace('中国','china',inplace=True)
df8

C:\Users\Administrator\AppData\Local\Temp\ipykernel_13432\3750474595.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df8['country'].replace('中国','china',inplace=True)

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960   china   59716467625
4  1960      日本   44307342950
5  1960     加拿大   40461721692
6  1960     意大利   40385288344
7  1960      印度   37029883875
8  1960    澳大利亚   18577668271
9  1960      瑞典   15822585033

## 查询

### loc()函数

In [77]:
df9 = df.head(10).copy()

In [78]:
df9.loc[0:5,'country':'GDP']

  country           GDP
0      美国  543300000000
1      英国   73233967692
2      法国   62225478000
3      中国   59716467625
4      日本   44307342950
5     加拿大   40461721692

In [79]:
df9.loc[0,'country']

'美国'

### iloc()函数

In [80]:
df9.iloc[:,:]

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950
5  1960     加拿大   40461721692
6  1960     意大利   40385288344
7  1960      印度   37029883875
8  1960    澳大利亚   18577668271
9  1960      瑞典   15822585033

### query()函数

In [81]:
df9.query('country == "中国" & (year >= 1960 & year <= 2015)')

   year country          GDP
3  1960      中国  59716467625

In [82]:
df9.query('country == "美国" and (year >= 1960  and year<= 2015)')

   year country           GDP
0  1960      美国  543300000000