In [114]:
import pandas as pd
import numpy as np

# pandas基本操作

##  读取csv文件

In [115]:
df = pd.read_csv("data/stock_day.csv", encoding='utf-8')

## pandas对象信息

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 643 entries, 2018-02-27 to 2015-03-02
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   open          643 non-null    float64
 1   high          643 non-null    float64
 2   close         643 non-null    float64
 3   low           643 non-null    float64
 4   volume        643 non-null    float64
 5   price_change  643 non-null    float64
 6   p_change      643 non-null    float64
 7   ma5           643 non-null    float64
 8   ma10          643 non-null    float64
 9   ma20          643 non-null    float64
 10  v_ma5         643 non-null    float64
 11  v_ma10        643 non-null    float64
 12  v_ma20        643 non-null    float64
 13  turnover      643 non-null    float64
dtypes: float64(14)
memory usage: 75.4+ KB

## 删除列

In [117]:
df.drop(["ma5", "ma10", "ma20", "v_ma5", "v_ma10", "v_ma20"], axis=1, inplace=True)

In [118]:
df.describe()

,open,high,close,low,volume,price_change,p_change,turnover
count,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000
mean,21.272706,21.900513,21.336267,20.771835,99905.519114,0.018802,0.190280,2.936190
std,3.930973,4.077578,3.942806,3.791968,73879.119354,0.898476,4.079698,2.079375
min,12.250000,12.670000,12.360000,12.200000,1158.120000,-3.520000,-10.030000,0.040000
25%,19.000000,19.500000,19.045000,18.525000,48533.210000,-0.390000,-1.850000,1.360000
50%,21.440000,21.970000,21.450000,20.980000,83175.930000,0.050000,0.260000,2.500000
75%,23.400000,24.065000,23.415000,22.850000,127580.055000,0.455000,2.305000,3.915000
max,34.990000,36.350000,35.210000,34.010000,501915.410000,3.030000,10.030000,12.560000

In [119]:
df.head()

,open,high,close,low,volume,price_change,p_change,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,0.58

## 索引操作

###  场景1:根据行索引进行操作数据

In [120]:
# 场景1:根据行列索引进行操作数据,必须是先列后行
df["open"]["2018-02-22"]

np.float64(22.25)

###   场景2:结合loc 根据 行索引和列索引来获取数据

In [121]:
#场景2 :结合loc 根据 行索引和列索引来获取数据
df.loc["2018-02-22", "open"]

np.float64(22.25)

### 场景3 :结合loc 根据行索引进行切片和列索引的集合 获取数据

In [122]:
### 场景3 :结合loc 根据行索引和列索引通过切片来获取数据
df.loc["2018-02-27":"2018-02-14", ["open", "high"]]

             open   high
2018-02-27  23.53  25.88
2018-02-26  22.80  23.78
2018-02-23  22.88  23.37
2018-02-22  22.25  22.76
2018-02-14  21.49  21.99

###  场景4 :结合iloc 根据行列索引进行切片(不包尾) 获取数据

In [123]:
df.iloc[0:3, 0: 2]

             open   high
2018-02-27  23.53  25.88
2018-02-26  22.80  23.78
2018-02-23  22.88  23.37

###  场景5 :结合at 根据行索引值和列索引值获取数据

In [124]:
#  场景5 :结合at 根据行索引值和列索引值获取数据
# .at[] 是基于标签（行索引和列标签）进行访问和赋值，速度较快，适合单个元素的修改。
df.at["2018-02-22", "open"]

np.float64(22.25)

###   场景6 :结合iat 根据行索引下标和列索引下标获取数据

In [125]:
df.iat[8, 5]

np.float64(0.09)

### 总结: loc,iloc,at,iat  区别

> 总结: 
> 1. loc和iloc都是基于标签进行访问和赋值，速度较at慢，适合多维数据的访问。
> 2. at是基于标签进行访问和赋值，速度较loc和iloc快，适合单个元素的访问。
> 3. iat是基于索引进行访问和赋值，速度较at和loc快，适合单个元素的访问。

## 赋值操作

In [126]:
df["open"] = 23
df

,open,high,close,low,volume,price_change,p_change,turnover
2018-02-27,23,25.88,24.16,23.53,95578.03,0.63,2.68,2.39
2018-02-26,23,23.78,23.53,22.80,60985.11,0.69,3.02,1.53
2018-02-23,23,23.37,22.82,22.71,52914.01,0.54,2.42,1.32
2018-02-22,23,22.76,22.28,22.02,36105.01,0.36,1.64,0.90
2018-02-14,23,21.99,21.92,21.48,23331.04,0.44,2.05,0.58
...,...,...,...,...,...,...,...,...
2015-03-06,23,14.48,14.28,13.13,179831.72,1.12,8.51,6.16
2015-03-05,23,13.45,13.16,12.87,93180.39,0.26,2.02,3.19
2015-03-04,23,12.92,12.90,12.61,67075.44,0.20,1.57,2.30
2015-03-03,23,13.06,12.70,12.52,139071.61,0.18,1.44,4.76
2015-03-02,23,12.67,12.52,12.20,96291.73,0.32,2.62,3.30

In [127]:
df.open = 22
df
# 小结:这种写法比较简单,但是有弊端,如果有空格 的列名,就会出错

,open,high,close,low,volume,price_change,p_change,turnover
2018-02-27,22,25.88,24.16,23.53,95578.03,0.63,2.68,2.39
2018-02-26,22,23.78,23.53,22.80,60985.11,0.69,3.02,1.53
2018-02-23,22,23.37,22.82,22.71,52914.01,0.54,2.42,1.32
2018-02-22,22,22.76,22.28,22.02,36105.01,0.36,1.64,0.90
2018-02-14,22,21.99,21.92,21.48,23331.04,0.44,2.05,0.58
...,...,...,...,...,...,...,...,...
2015-03-06,22,14.48,14.28,13.13,179831.72,1.12,8.51,6.16
2015-03-05,22,13.45,13.16,12.87,93180.39,0.26,2.02,3.19
2015-03-04,22,12.92,12.90,12.61,67075.44,0.20,1.57,2.30
2015-03-03,22,13.06,12.70,12.52,139071.61,0.18,1.44,4.76
2015-03-02,22,12.67,12.52,12.20,96291.73,0.32,2.62,3.30

## 排序操作

In [128]:
df = pd.read_csv("data/stock_day.csv", encoding='utf-8')

### sort_values() 列排序

In [129]:
# by  指定列进行排序 assending=True 升序  False 降序
df.sort_values(by="open", ascending=True)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30
2015-09-02,12.30,14.11,12.36,12.30,70201.74,-1.10,-8.17,14.440,16.591,18.360,96977.99,98537.72,104567.25,2.40
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-11,33.17,34.98,34.39,32.51,173075.73,0.54,1.59,32.016,29.572,28.036,193141.45,151337.71,151428.57,5.92
2017-11-01,33.85,34.34,33.83,33.10,232325.30,-0.61,-1.77,33.170,30.891,28.684,353499.64,346829.10,233701.92,5.81
2015-06-10,34.10,36.35,33.85,32.23,269033.12,0.51,1.53,30.538,28.660,27.424,176305.53,152266.76,149078.50,9.21
2015-06-12,34.69,35.98,35.21,34.01,159825.88,0.82,2.38,33.420,30.513,28.683,197248.25,154480.41,153888.00,5.47
2015-06-15,34.99,34.99,31.69,31.69,199369.53,-3.52,-10.00,33.696,30.964,29.114,201148.55,164608.26,158362.17,6.82

In [130]:
df.sort_values(by=["open", "high"], ascending=[False, False])

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2015-06-15,34.99,34.99,31.69,31.69,199369.53,-3.52,-10.00,33.696,30.964,29.114,201148.55,164608.26,158362.17,6.82
2015-06-12,34.69,35.98,35.21,34.01,159825.88,0.82,2.38,33.420,30.513,28.683,197248.25,154480.41,153888.00,5.47
2015-06-10,34.10,36.35,33.85,32.23,269033.12,0.51,1.53,30.538,28.660,27.424,176305.53,152266.76,149078.50,9.21
2017-11-01,33.85,34.34,33.83,33.10,232325.30,-0.61,-1.77,33.170,30.891,28.684,353499.64,346829.10,233701.92,5.81
2015-06-11,33.17,34.98,34.39,32.51,173075.73,0.54,1.59,32.016,29.572,28.036,193141.45,151337.71,151428.57,5.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-09-02,12.30,14.11,12.36,12.30,70201.74,-1.10,-8.17,14.440,16.591,18.360,96977.99,98537.72,104567.25,2.40
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30

###  sort_index() 行排序

In [131]:
df.sort_index(ascending=True)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,13.112,13.112,13.112,115090.18,115090.18,115090.18,6.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39

### servis对象排序

In [132]:
# 根据open列的 值进行排序
df.open.sort_values(ascending=True)

2015-03-02    12.25
2015-09-02    12.30
2015-03-03    12.52
2015-03-04    12.80
2015-03-05    12.88
              ...
2015-06-11    33.17
2017-11-01    33.85
2015-06-10    34.10
2015-06-12    34.69
2015-06-15    34.99
Name: open, Length: 643, dtype: float64

In [133]:
#  根据行索引进行排序
df.open.sort_index(ascending=True)

2015-03-02    12.25
2015-03-03    12.52
2015-03-04    12.80
2015-03-05    12.88
2015-03-06    13.17
              ...
2018-02-14    21.49
2018-02-22    22.25
2018-02-23    22.88
2018-02-26    22.80
2018-02-27    23.53
Name: open, Length: 643, dtype: float64

## dataframe运算

### add() 逻辑运算加

In [134]:
df.close.add(2)

2018-02-27    26.16
2018-02-26    25.53
2018-02-23    24.82
2018-02-22    24.28
2018-02-14    23.92
              ...
2015-03-06    16.28
2015-03-05    15.16
2015-03-04    14.90
2015-03-03    14.70
2015-03-02    14.52
Name: close, Length: 643, dtype: float64

In [135]:
df.close + 2

2018-02-27    26.16
2018-02-26    25.53
2018-02-23    24.82
2018-02-22    24.28
2018-02-14    23.92
              ...
2015-03-06    16.28
2015-03-05    15.16
2015-03-04    14.90
2015-03-03    14.70
2015-03-02    14.52
Name: close, Length: 643, dtype: float64

### sub () 逻辑运算减

In [136]:
df.low.sub(10)

2018-02-27    13.53
2018-02-26    12.80
2018-02-23    12.71
2018-02-22    12.02
2018-02-14    11.48
              ...
2015-03-06     3.13
2015-03-05     2.87
2015-03-04     2.61
2015-03-03     2.52
2015-03-02     2.20
Name: low, Length: 643, dtype: float64

In [137]:
df.low - 10

2018-02-27    13.53
2018-02-26    12.80
2018-02-23    12.71
2018-02-22    12.02
2018-02-14    11.48
              ...
2015-03-06     3.13
2015-03-05     2.87
2015-03-04     2.61
2015-03-03     2.52
2015-03-02     2.20
Name: low, Length: 643, dtype: float64

###  mul() 逻辑运算乘

In [138]:
df.low.mul(2)

2018-02-27    47.06
2018-02-26    45.60
2018-02-23    45.42
2018-02-22    44.04
2018-02-14    42.96
              ...
2015-03-06    26.26
2015-03-05    25.74
2015-03-04    25.22
2015-03-03    25.04
2015-03-02    24.40
Name: low, Length: 643, dtype: float64

###  div() 逻辑运算除

In [139]:
df.low.div(2)

2018-02-27    11.765
2018-02-26    11.400
2018-02-23    11.355
2018-02-22    11.010
2018-02-14    10.740
               ...
2015-03-06     6.565
2015-03-05     6.435
2015-03-04     6.305
2015-03-03     6.260
2015-03-02     6.100
Name: low, Length: 643, dtype: float64

### 逻辑运算

In [140]:
df[df.open > 23]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-29,24.40,24.63,23.77,23.72,65469.81,-0.73,-2.98,24.684,24.728,24.294,91842.60,91692.73,93456.22,1.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-21,27.50,28.22,28.22,26.50,121190.11,2.57,10.02,24.508,22.725,22.053,117760.48,103865.87,98766.20,4.15
2015-05-20,24.10,25.65,25.65,24.10,164143.16,2.33,9.99,23.292,21.784,21.733,118737.32,98652.00,99743.64,5.62
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-16,24.63,25.21,22.97,21.94,221070.31,-1.41,-5.78,22.230,19.983,17.825,182172.04,153247.63,124317.19,7.57
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [141]:
# 写法一 必须用()来包
df[(df.open > 23) & (df.open < 28)]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-29,24.40,24.63,23.77,23.72,65469.81,-0.73,-2.98,24.684,24.728,24.294,91842.60,91692.73,93456.22,1.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-21,27.50,28.22,28.22,26.50,121190.11,2.57,10.02,24.508,22.725,22.053,117760.48,103865.87,98766.20,4.15
2015-05-20,24.10,25.65,25.65,24.10,164143.16,2.33,9.99,23.292,21.784,21.733,118737.32,98652.00,99743.64,5.62
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-16,24.63,25.21,22.97,21.94,221070.31,-1.41,-5.78,22.230,19.983,17.825,182172.04,153247.63,124317.19,7.57
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [142]:
# 写法二
df[(df["open"] > 23) & (df["open"] < 28)]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-29,24.40,24.63,23.77,23.72,65469.81,-0.73,-2.98,24.684,24.728,24.294,91842.60,91692.73,93456.22,1.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-21,27.50,28.22,28.22,26.50,121190.11,2.57,10.02,24.508,22.725,22.053,117760.48,103865.87,98766.20,4.15
2015-05-20,24.10,25.65,25.65,24.10,164143.16,2.33,9.99,23.292,21.784,21.733,118737.32,98652.00,99743.64,5.62
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-16,24.63,25.21,22.97,21.94,221070.31,-1.41,-5.78,22.230,19.983,17.825,182172.04,153247.63,124317.19,7.57
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

#### query()  逻辑运算

In [143]:
# ‼️‼️通过&  运算符的俩边在一个字符串里
df.query('open > 23 & open < 28')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-29,24.40,24.63,23.77,23.72,65469.81,-0.73,-2.98,24.684,24.728,24.294,91842.60,91692.73,93456.22,1.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-05-21,27.50,28.22,28.22,26.50,121190.11,2.57,10.02,24.508,22.725,22.053,117760.48,103865.87,98766.20,4.15
2015-05-20,24.10,25.65,25.65,24.10,164143.16,2.33,9.99,23.292,21.784,21.733,118737.32,98652.00,99743.64,5.62
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-16,24.63,25.21,22.97,21.94,221070.31,-1.41,-5.78,22.230,19.983,17.825,182172.04,153247.63,124317.19,7.57
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

#### isin()  逻辑运算

In [144]:
# 传统写法一:
df[(df.open == 23.53) | (df.open == 23.67)]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74

In [145]:
# 写法二:isin
df[df.open.isin([23.53, 23.67])]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74

#### 统计运算函数

#####  sum() 求和函数

In [146]:
df.open.sum()

np.float64(13678.35)

#####   mean() 求均值函数

In [147]:
df.open.mean()

np.float64(21.27270606531882)

#####   std() 求标准差函数

In [148]:
df.std()

open                3.930973
high                4.077578
close               3.942806
low                 3.791968
volume          73879.119354
price_change        0.898476
p_change            4.079698
ma5                 3.880640
ma10                3.813602
ma20                3.686186
v_ma5           62761.578326
v_ma10          56759.082060
v_ma20          50101.575639
turnover            2.079375
dtype: float64

#####   var() 求方差函数

In [149]:
df.var()

open            1.545255e+01
high            1.662665e+01
close           1.554572e+01
low             1.437902e+01
volume          5.458124e+09
price_change    8.072595e-01
p_change        1.664394e+01
ma5             1.505937e+01
ma10            1.454356e+01
ma20            1.358797e+01
v_ma5           3.939016e+09
v_ma10          3.221593e+09
v_ma20          2.510168e+09
turnover        4.323800e+00
dtype: float64

#####   max() 求最大值函数

In [150]:
df.max()

open                34.990
high                36.350
close               35.210
low                 34.010
volume          501915.410
price_change         3.030
p_change            10.030
ma5                 33.696
ma10                32.186
ma20                29.998
v_ma5           404443.540
v_ma10          360028.160
v_ma20          269280.790
turnover            12.560
dtype: float64

#####   min() 求最小值函数

In [151]:
df.min()

open               12.25
high               12.67
close              12.36
low                12.20
volume           1158.12
price_change       -3.52
p_change          -10.03
ma5                12.52
ma10               12.52
ma20               12.52
v_ma5           10804.74
v_ma10          19130.51
v_ma20          23311.00
turnover            0.04
dtype: float64

#####   count() 求非空值个数

In [152]:
df.count()

open            643
high            643
close           643
low             643
volume          643
price_change    643
p_change        643
ma5             643
ma10            643
ma20            643
v_ma5           643
v_ma10          643
v_ma20          643
turnover        643
dtype: int64

#####    describe() 描述性统计函数

In [153]:
df.describe()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
count,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000
mean,21.272706,21.900513,21.336267,20.771835,99905.519114,0.018802,0.190280,21.302362,21.267656,21.200946,100008.642691,100287.542177,100797.518398,2.936190
std,3.930973,4.077578,3.942806,3.791968,73879.119354,0.898476,4.079698,3.880640,3.813602,3.686186,62761.578326,56759.082060,50101.575639,2.079375
min,12.250000,12.670000,12.360000,12.200000,1158.120000,-3.520000,-10.030000,12.520000,12.520000,12.520000,10804.740000,19130.510000,23311.000000,0.040000
25%,19.000000,19.500000,19.045000,18.525000,48533.210000,-0.390000,-1.850000,18.990000,19.102000,19.275000,55794.985000,59861.955000,64103.675000,1.360000
50%,21.440000,21.970000,21.450000,20.980000,83175.930000,0.050000,0.260000,21.504000,21.623000,21.530000,86133.330000,89234.970000,96291.730000,2.500000
75%,23.400000,24.065000,23.415000,22.850000,127580.055000,0.455000,2.305000,23.318000,23.098500,23.136000,127655.655000,124693.255000,124001.015000,3.915000
max,34.990000,36.350000,35.210000,34.010000,501915.410000,3.030000,10.030000,33.696000,32.186000,29.998000,404443.540000,360028.160000,269280.790000,12.560000

#####   cumsum() 求累计和

In [154]:
df.cumsum()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,46.33,49.66,47.69,46.33,156563.14,1.32,5.70,45.348,44.097,45.817,94610.16,89474.99,111583.61,3.92
2018-02-23,69.21,73.03,70.51,69.04,209477.15,1.86,8.12,67.286,66.026,68.839,129729.74,131346.96,167956.46,5.24
2018-02-22,91.46,95.79,92.79,91.06,245582.16,2.22,9.76,88.732,87.935,91.976,165127.32,171251.74,228106.06,6.14
2018-02-14,112.95,117.78,114.71,112.54,268913.20,2.66,11.81,110.098,109.858,115.229,198717.53,214187.48,289822.17,6.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,13627.90,14029.93,13667.94,13306.09,63843629.62,11.13,114.70,13646.762,13624.446,13581.551,63891866.13,64071198.50,64399113.21,1874.42
2015-03-05,13640.78,14043.38,13681.10,13318.96,63936810.01,11.39,116.72,13659.582,13637.266,13594.371,63990770.92,64170103.29,64498018.00,1877.61
2015-03-04,13653.58,14056.30,13694.00,13331.57,64003885.45,11.59,118.29,13672.289,13649.973,13607.078,64091583.85,64270916.22,64598830.93,1879.91
2015-03-03,13666.10,14069.36,13706.70,13344.09,64142957.06,11.77,119.73,13684.899,13662.583,13619.688,64209265.52,64388597.89,64716512.60,1884.67
2015-03-02,13678.35,14082.03,13719.22,13356.29,64239248.79,12.09,122.35,13697.419,13675.103,13632.208,64305557.25,64484889.62,64812804.33,1887.97

#####    cumprod() 求累计积

In [155]:
df.cumprod()

/Users/jialei/miniconda3/envs/my_env/lib/python3.10/site-packages/numpy/_core/fromnumeric.py:57: RuntimeWarning: overflow encountered in accumulate
  return bound(*args, **kwds)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,2.353000e+01,2.588000e+01,2.416000e+01,2.353000e+01,9.557803e+04,0.630000,2.680000,2.294200e+01,2.214200e+01,2.287500e+01,5.378264e+04,4.673865e+04,5.557611e+04,2.390000e+00
2018-02-26,5.364840e+02,6.154264e+02,5.684848e+02,5.364840e+02,5.828837e+09,0.434700,8.093600,5.140385e+02,4.861276e+02,5.247983e+02,2.195812e+09,1.997439e+09,3.112679e+09,3.656700e+00
2018-02-23,1.227475e+04,1.438251e+04,1.297282e+04,1.218355e+04,3.084271e+14,0.234738,19.586512,1.127698e+04,1.066029e+04,1.208191e+04,7.711599e+13,8.363670e+13,1.754706e+14,4.826844e+00
2018-02-22,2.731133e+05,3.273460e+05,2.890345e+05,2.682818e+05,1.113576e+19,0.084506,32.121880,2.418460e+05,2.335563e+05,2.795390e+05,2.729719e+18,3.337504e+18,1.055449e+19,4.344160e+00
2018-02-14,5.869204e+06,7.198339e+06,6.335636e+06,5.762693e+06,2.598090e+23,0.037182,65.849853,5.167282e+06,5.120256e+06,6.500121e+06,9.169185e+22,1.432982e+23,6.513818e+23,2.519613e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,inf,inf,inf,inf,inf,-0.000000,-0.000000,inf,inf,inf,inf,inf,inf,5.025325e+227
2015-03-05,inf,inf,inf,inf,inf,-0.000000,-0.000000,inf,inf,inf,inf,inf,inf,1.603079e+228
2015-03-04,inf,inf,inf,inf,inf,-0.000000,-0.000000,inf,inf,inf,inf,inf,inf,3.687081e+228
2015-03-03,inf,inf,inf,inf,inf,-0.000000,-0.000000,inf,inf,inf,inf,inf,inf,1.755050e+229
2015-03-02,inf,inf,inf,inf,inf,-0.000000,-0.000000,inf,inf,inf,inf,inf,inf,5.791666e+229

#####    cummax() 求累计最大值

In [156]:
df.cummax()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,23.53,25.88,24.16,23.53,95578.03,0.69,3.02,22.942,22.142,22.942,53782.64,46738.65,56007.50,2.39
2018-02-23,23.53,25.88,24.16,23.53,95578.03,0.69,3.02,22.942,22.142,23.022,53782.64,46738.65,56372.85,2.39
2018-02-22,23.53,25.88,24.16,23.53,95578.03,0.69,3.02,22.942,22.142,23.137,53782.64,46738.65,60149.60,2.39
2018-02-14,23.53,25.88,24.16,23.53,95578.03,0.69,3.02,22.942,22.142,23.253,53782.64,46738.65,61716.11,2.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,34.99,36.35,35.21,34.01,501915.41,3.03,10.03,33.696,32.186,29.998,404443.54,360028.16,269280.79,12.56
2015-03-05,34.99,36.35,35.21,34.01,501915.41,3.03,10.03,33.696,32.186,29.998,404443.54,360028.16,269280.79,12.56
2015-03-04,34.99,36.35,35.21,34.01,501915.41,3.03,10.03,33.696,32.186,29.998,404443.54,360028.16,269280.79,12.56
2015-03-03,34.99,36.35,35.21,34.01,501915.41,3.03,10.03,33.696,32.186,29.998,404443.54,360028.16,269280.79,12.56
2015-03-02,34.99,36.35,35.21,34.01,501915.41,3.03,10.03,33.696,32.186,29.998,404443.54,360028.16,269280.79,12.56

#####     cummin() 求累计最小值

In [157]:
df.cummin()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.63,2.68,22.406,21.955,22.875,40827.52,42736.34,55576.11,1.53
2018-02-23,22.80,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,22.875,35119.58,41871.97,55576.11,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,22.875,35119.58,39904.78,55576.11,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.36,1.64,21.366,21.909,22.875,33590.21,39904.78,55576.11,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,12.30,13.38,12.36,12.30,1158.12,-3.52,-10.03,13.112,13.112,13.112,10804.74,19130.51,23311.00,0.04
2015-03-05,12.30,13.38,12.36,12.30,1158.12,-3.52,-10.03,12.820,12.820,12.820,10804.74,19130.51,23311.00,0.04
2015-03-04,12.30,12.92,12.36,12.30,1158.12,-3.52,-10.03,12.707,12.707,12.707,10804.74,19130.51,23311.00,0.04
2015-03-03,12.30,12.92,12.36,12.30,1158.12,-3.52,-10.03,12.610,12.610,12.610,10804.74,19130.51,23311.00,0.04
2015-03-02,12.25,12.67,12.36,12.20,1158.12,-3.52,-10.03,12.520,12.520,12.520,10804.74,19130.51,23311.00,0.04

#####      cumprod() 求累计积

In [158]:
df.cumprod()

/Users/jialei/miniconda3/envs/my_env/lib/python3.10/site-packages/numpy/_core/fromnumeric.py:57: RuntimeWarning: overflow encountered in accumulate
  return bound(*args, **kwds)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,2.353000e+01,2.588000e+01,2.416000e+01,2.353000e+01,9.557803e+04,0.630000,2.680000,2.294200e+01,2.214200e+01,2.287500e+01,5.378264e+04,4.673865e+04,5.557611e+04,2.390000e+00
2018-02-26,5.364840e+02,6.154264e+02,5.684848e+02,5.364840e+02,5.828837e+09,0.434700,8.093600,5.140385e+02,4.861276e+02,5.247983e+02,2.195812e+09,1.997439e+09,3.112679e+09,3.656700e+00
2018-02-23,1.227475e+04,1.438251e+04,1.297282e+04,1.218355e+04,3.084271e+14,0.234738,19.586512,1.127698e+04,1.066029e+04,1.208191e+04,7.711599e+13,8.363670e+13,1.754706e+14,4.826844e+00
2018-02-22,2.731133e+05,3.273460e+05,2.890345e+05,2.682818e+05,1.113576e+19,0.084506,32.121880,2.418460e+05,2.335563e+05,2.795390e+05,2.729719e+18,3.337504e+18,1.055449e+19,4.344160e+00
2018-02-14,5.869204e+06,7.198339e+06,6.335636e+06,5.762693e+06,2.598090e+23,0.037182,65.849853,5.167282e+06,5.120256e+06,6.500121e+06,9.169185e+22,1.432982e+23,6.513818e+23,2.519613e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,inf,inf,inf,inf,inf,-0.000000,-0.000000,inf,inf,inf,inf,inf,inf,5.025325e+227
2015-03-05,inf,inf,inf,inf,inf,-0.000000,-0.000000,inf,inf,inf,inf,inf,inf,1.603079e+228
2015-03-04,inf,inf,inf,inf,inf,-0.000000,-0.000000,inf,inf,inf,inf,inf,inf,3.687081e+228
2015-03-03,inf,inf,inf,inf,inf,-0.000000,-0.000000,inf,inf,inf,inf,inf,inf,1.755050e+229
2015-03-02,inf,inf,inf,inf,inf,-0.000000,-0.000000,inf,inf,inf,inf,inf,inf,5.791666e+229

#### apply() 自定义函数运算

In [159]:
#自定义函数 my_ func 接收一列数据,计算该列的最大值和最小值,并计算差值并返回
def  my_func(x):
    return x.max() - x.min()

df[["open","close"]].apply(my_func, axis=1)  # 行运算

2018-02-27    0.63
2018-02-26    0.73
2018-02-23    0.06
2018-02-22    0.03
2018-02-14    0.43
              ...
2015-03-06    1.11
2015-03-05    0.28
2015-03-04    0.10
2015-03-03    0.18
2015-03-02    0.27
Length: 643, dtype: float64

In [160]:
df[["open","close"]].apply(my_func, axis=0) #  列运算

open     22.74
close    22.85
dtype: float64

In [161]:
df[["open","close"]].apply(lambda x: x.max() - x.min()) #默认,列运算

open     22.74
close    22.85
dtype: float64