# pandas数据结构

## 1. series对象

> series 是dataframe的列对象,本身也具有索引,如果没有指定索引,那么默认索引是 0 - le()-1

In [237]:
import pandas as pd

### 1.1 创建series对象

#### 1.1.1 通过列表创建series对象

In [238]:
list1 = [1,2,3,4,5]
pd.Series(list1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [239]:
pd.Series(list1,index=['a','b','c','d','e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

#### 1.1.2 通过字典创建series对象

In [240]:
# 通过数据字典创建的series对象,索引为字典key
dict1 = {'a':1,'b':2,'c':3,'d':4,'e':5}
pd.Series(dict1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

#### 1.1.3 通过元组创建series对象

In [241]:
tuple1 = ('a','b','c','d','e')
pd.Series(tuple1)

0    a
1    b
2    c
3    d
4    e
dtype: object

#### 1.1.4 通过numpy创建series对象

In [242]:
import numpy as np
pd.Series(np.arange(10),index=[np.arange(10)])

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

### 1.2 series对象属性

In [243]:
# 列表推导式
list1 = [i for i in range(5)]
index1 = [i for i in 'ABCDE']
s1 = pd.Series(data=list1,index=index1)
print(s1)

A    0
B    1
C    2
D    3
E    4
dtype: int64

#### 1.2.1 values 属性获取s对象的元素

In [244]:
s1.values

array([0, 1, 2, 3, 4])

#### 1.2.2 series[index] 对象的索引修改s的值

In [245]:
s1[0] = 10
s1

C:\Users\Administrator\AppData\Local\Temp\ipykernel_2932\485159625.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s1[0] = 10

A    10
B     1
C     2
D     3
E     4
dtype: int64

In [246]:
s1['B']=99
s1

A    10
B    99
C     2
D     3
E     4
dtype: int64

#### 1.2.3 index 属性获取索引

In [247]:
s1.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

#### 1.2.4 也可以通过索引 s1['A']来获取数据

In [248]:
s1['A']

np.int64(10)

## 2 创建DATAFRAME对象

```javascript
1. 通过读取文件返回df对象
2. 通过字典,元组,列表等进行创建df对象
```

### 2.1 通过字典+列表的方式进行创建

In [249]:
# 场景1 通过字典+列表的方式进行创建
dict1 = {'name':['张三','李四','王五'],'age':[18,19,20],'gender':['男','女','女']}
df = pd.DataFrame(dict1)
df

  name  age gender
0   张三   18      男
1   李四   19      女
2   王五   20      女

### 2.2 通过元组+列表的方式进行创建

In [250]:
list1 = [('张三',18,'男'),('李四',19,'女'),('王五',20,'女')]
df = pd.DataFrame(list1)
df

    0   1  2
0  张三  18  男
1  李四  19  女
2  王五  20  女

In [251]:
df1 = pd.DataFrame(list1,columns=['name','age','gender'])
df1

  name  age gender
0   张三   18      男
1   李四   19      女
2   王五   20      女

### 2.3 通过ndarray对象进行创建

In [252]:
arr1 = np.arange(12).reshape(3, 4)
arr1
pd.DataFrame(arr1,columns=['a','b','c','d'],index=['A','B','C'])

   a  b   c   d
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

### 2.4 学生成绩案例

In [253]:
ndarray = np.random.randint(40,100,(10,5))
df = pd.DataFrame(ndarray,columns=['语文','数学','英语','物理','化学'],index=[f'同学{i+1}' for i in range(ndarray.shape[0])])
df

      语文  数学  英语  物理  化学
同学1   82  43  47  41  72
同学2   99  44  61  88  87
同学3   54  61  58  52  45
同学4   45  81  88  75  64
同学5   47  42  78  52  59
同学6   52  66  98  53  89
同学7   53  90  81  45  42
同学8   89  92  68  94  69
同学9   85  84  58  86  47
同学10  98  61  76  63  68

In [254]:
# 方式二:
index_name = [f'同学{i+1}' for i in range(ndarray.shape[0])]
columns_name = ['语文','数学','英语','物理','化学']
ndarray = np.random.randint(40,100,(10,5))
df = pd.DataFrame(ndarray)
# 想使用rename的前提是创建了dataframe对象,且进行了实例化
df.rename(
    index = {i:index_name[i] for i in range(ndarray.shape[0])},
    columns={i:columns_name[i] for i in range(ndarray.shape[1])},
    inplace=True
)
df

      语文  数学  英语  物理  化学
同学1   51  54  58  95  90
同学2   82  53  68  45  97
同学3   66  69  95  85  51
同学4   72  63  50  42  71
同学5   44  86  58  69  46
同学6   85  51  42  65  65
同学7   88  77  65  89  93
同学8   56  90  41  44  80
同学9   87  88  86  55  86
同学10  93  75  54  51  52

## 3.Dataframe对象属性及数据类型

### 3.1 datatime日期类型

In [255]:
dataFrame = pd.DataFrame({'date':['2020-01-01','2020-01-02','2020-01-03']},dtype='datetime64[ns]')
dataFrame.dtypes

date    datetime64[ns]
dtype: object

In [256]:
start_time = pd.to_datetime('2020-01-01')
end_time = pd.to_datetime('2020-01-05')
time = end_time-start_time
time

Timedelta('4 days 00:00:00')

### 3.2 category() 类别类型

In [257]:
"""
category类型,通常用于有限集合中的数据类型,例如性别,颜色,产品类型等.这种类型的优点在于
占用更少的内存,并且对分类数据的操作更快
"""
series_category = pd.Series(['apple', 'banana', 'orange', 'apple', 'banana'], dtype='category')
series_category.dtype

CategoricalDtype(categories=['apple', 'banana', 'orange'], ordered=False, categories_dtype=object)

### 3.3 shape属性 获取行列数

In [258]:
df.shape

(10, 5)

### 3.4 index 属性 获取索引

In [259]:
df.index

Index(['同学1', '同学2', '同学3', '同学4', '同学5', '同学6', '同学7', '同学8', '同学9', '同学10'], dtype='object')

### 3.5 columns属性 获取列名

In [260]:
df.columns

Index(['语文', '数学', '英语', '物理', '化学'], dtype='object')

### 3.6 dtypes属性 获取数据类型

In [261]:
df.dtypes

语文    int32
数学    int32
英语    int32
物理    int32
化学    int32
dtype: object

### 3.7 values属性 获取数据

In [262]:
df.values

array([[51, 54, 58, 95, 90],
       [82, 53, 68, 45, 97],
       [66, 69, 95, 85, 51],
       [72, 63, 50, 42, 71],
       [44, 86, 58, 69, 46],
       [85, 51, 42, 65, 65],
       [88, 77, 65, 89, 93],
       [56, 90, 41, 44, 80],
       [87, 88, 86, 55, 86],
       [93, 75, 54, 51, 52]], dtype=int32)

### 3.8 T属性 获取转置后的数据

In [263]:
df.T

    同学1  同学2  同学3  同学4  同学5  同学6  同学7  同学8  同学9  同学10
语文   51   82   66   72   44   85   88   56   87    93
数学   54   53   69   63   86   51   77   90   88    75
英语   58   68   95   50   58   42   65   41   86    54
物理   95   45   85   42   69   65   89   44   55    51
化学   90   97   51   71   46   65   93   80   86    52

### 3.9 loc属性 获取索引

In [264]:
df.loc[['同学1', '同学2']]

     语文  数学  英语  物理  化学
同学1  51  54  58  95  90
同学2  82  53  68  45  97

### 3.10 iloc属性 获取索引

In [265]:
# 获取索引 等价于 df.iloc[0:2,:]
df.iloc[0:2]

     语文  数学  英语  物理  化学
同学1  51  54  58  95  90
同学2  82  53  68  45  97

In [266]:
df.iloc[0:2,:]

     语文  数学  英语  物理  化学
同学1  51  54  58  95  90
同学2  82  53  68  45  97

### 3.11 at属性 获取索引

```python
1. lat属性,只能操作单个数据,
2. 针对多个数据修改只能使用loc属性
```

In [267]:
# df.at[['同学1', '同学2'], '语文'] 是报错的
df.at['同学1', '语文']

np.int32(51)

### 3.12 iat属性 获取索引

In [268]:
df.iat[0,0]

np.int32(51)

## 4. dataframe对象方法

### 4.1 head() 方法 获取前n行数

In [269]:
df.head()

     语文  数学  英语  物理  化学
同学1  51  54  58  95  90
同学2  82  53  68  45  97
同学3  66  69  95  85  51
同学4  72  63  50  42  71
同学5  44  86  58  69  46

### 4.2 tail() 方法 获取后n行数

In [270]:
df.tail()

      语文  数学  英语  物理  化学
同学6   85  51  42  65  65
同学7   88  77  65  89  93
同学8   56  90  41  44  80
同学9   87  88  86  55  86
同学10  93  75  54  51  52

### 4.3 describe() 方法 获取数据描述信息

In [271]:
df.describe()

              语文         数学         英语        物理         化学
count  10.000000  10.000000  10.000000  10.00000  10.000000
mean   72.400000  70.600000  61.700000  64.00000  73.100000
std    17.341024  14.930952  17.607132  19.85503  18.870612
min    44.000000  51.000000  41.000000  42.00000  46.000000
25%    58.500000  56.250000  51.000000  46.50000  55.250000
50%    77.000000  72.000000  58.000000  60.00000  75.500000
75%    86.500000  83.750000  67.250000  81.00000  89.000000
max    93.000000  90.000000  95.000000  95.00000  97.000000

### 4.4 info() 方法 获取数据信息

In [272]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 同学1 to 同学10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   语文      10 non-null     int32
 1   数学      10 non-null     int32
 2   英语      10 non-null     int32
 3   物理      10 non-null     int32
 4   化学      10 non-null     int32
dtypes: int32(5)
memory usage: 580.0+ bytes

### 4.5 dropna() 方法 删除数据中的空值的行

In [273]:
df2 =df.copy()
df2['语文']['同学1']=np.nan  #同学1的语文数据为空
df2.dropna()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_2932\3395813784.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df2['语文']['同学1']=np.nan  #同学1的语文数据为空

        语文  数学  英语  物理  化学
同学2   82.0  53  68  45  97
同学3   66.0  69  95  85  51
同学4   72.0  63  50  42  71
同学5   44.0  86  58  69  46
同学6   85.0  51  42  65  65
同学7   88.0  77  65  89  93
同学8   56.0  90  41  44  80
同学9   87.0  88  86  55  86
同学10  93.0  75  54  51  52

### 4.6 fillna() 方法 填充数据中的空值

In [274]:
df3 =df.copy()
df3['语文']['同学1']=np.nan
df3.fillna(value=65,inplace=True)
df3

C:\Users\Administrator\AppData\Local\Temp\ipykernel_2932\2086720732.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3['语文']['同学1']=np.nan

        语文  数学  英语  物理  化学
同学1   65.0  54  58  95  90
同学2   82.0  53  68  45  97
同学3   66.0  69  95  85  51
同学4   72.0  63  50  42  71
同学5   44.0  86  58  69  46
同学6   85.0  51  42  65  65
同学7   88.0  77  65  89  93
同学8   56.0  90  41  44  80
同学9   87.0  88  86  55  86
同学10  93.0  75  54  51  52

### 4.7 replace() 方法 替换数据

In [304]:
df3 =df.copy()
# df3['数学']['同学1','同学2']这种只能单行单列的去修改，不能批量修改，推介使用loc
# df3['数学']['同学1','同学2']="?"
df3.loc[['同学1', '同学2'], '数学'] = np.array(['?', '?'])
df3

C:\Users\Administrator\AppData\Local\Temp\ipykernel_2932\3332408919.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['?' '?']' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  df3.loc[['同学1', '同学2'], '数学'] = np.array(['?', '?'])

      语文  数学  英语  物理  化学
同学1   51   ?  58  95  90
同学2   82   ?  68  45  97
同学3   66  69  95  85  51
同学4   72  63  50  42  71
同学5   44  86  58  69  46
同学6   85  51  42  65  65
同学7   76  77  65  89  93
同学8   56  90  41  44  80
同学9   87  88  86  55  86
同学10  93  75  54  51  52

In [308]:
df3.replace('?',100)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_2932\2649977683.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3.replace('?',100)

      语文   数学  英语  物理  化学
同学1   51  100  58  95  90
同学2   82  100  68  45  97
同学3   66   69  95  85  51
同学4   72   63  50  42  71
同学5   44   86  58  69  46
同学6   85   51  42  65  65
同学7   76   77  65  89  93
同学8   56   90  41  44  80
同学9   87   88  86  55  86
同学10  93   75  54  51  52

### 4.7 drop() 方法 删除数据中的列或行

注意：
1. drop()默认：函数删除不修改原始数据，返回新的DataFrame对象，inplace=True修改原始数据
2. axis=0 删除行,默认 
2. axis=1 删除列

In [276]:
df.drop('语文',axis=1)
df

      语文  数学  英语  物理  化学
同学1   51  54  58  95  90
同学2   82  53  68  45  97
同学3   66  69  95  85  51
同学4   72  63  50  42  71
同学5   44  86  58  69  46
同学6   85  51  42  65  65
同学7   88  77  65  89  93
同学8   56  90  41  44  80
同学9   87  88  86  55  86
同学10  93  75  54  51  52

In [277]:
df.drop('同学1')

      语文  数学  英语  物理  化学
同学2   82  53  68  45  97
同学3   66  69  95  85  51
同学4   72  63  50  42  71
同学5   44  86  58  69  46
同学6   85  51  42  65  65
同学7   88  77  65  89  93
同学8   56  90  41  44  80
同学9   87  88  86  55  86
同学10  93  75  54  51  52

### 4.8 concat() 方法 连接多个dataframe对象

In [278]:
concat = pd.concat([df, df])
concat.reset_index(drop=True,inplace=True)
concat

    语文  数学  英语  物理  化学
0   51  54  58  95  90
1   82  53  68  45  97
2   66  69  95  85  51
3   72  63  50  42  71
4   44  86  58  69  46
5   85  51  42  65  65
6   88  77  65  89  93
7   56  90  41  44  80
8   87  88  86  55  86
9   93  75  54  51  52
10  51  54  58  95  90
11  82  53  68  45  97
12  66  69  95  85  51
13  72  63  50  42  71
14  44  86  58  69  46
15  85  51  42  65  65
16  88  77  65  89  93
17  56  90  41  44  80
18  87  88  86  55  86
19  93  75  54  51  52

### 4.9 drop_duplicates() 方法 删除重复数据

drop_duplicates概述：

1. drop_duplicates() 是 Pandas 中的一个方法，用于去除 DataFrame 或 Series 中的重复行（或重复值）。这个方法可以根据某一列或多列来判断是否有重复，并返回去重后的 DataFrame。

2. 语法：
DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

3. 参数详解：

    3.1 subset：指定用于检查重复的列名。默认情况下，检查所有列。如果你只想根据某几列来去重，可以传入列名的列表，例如 ['column1', 'column2']。

    3.2 keep：
    
    'first'（默认）：保留第一次出现的重复项，删除后续重复的行。
    
    'last'：保留最后一次出现的重复项，删除之前的重复行。
    
    False：删除所有重复行。

    3.3 inplace：
    
    False（默认）：返回一个新的去重后的 DataFrame。
    
    True：直接在原 DataFrame 上进行修改，不返回新的对象。
    
    3.4 ignore_index：默认为 False。如果为 True，则重新生成索引，不保留原来的索引。

#### drop_duplicates()根据所有行索引进行去重

In [279]:
# 根据所有行索引进行去重
concat.drop_duplicates()

   语文  数学  英语  物理  化学
0  51  54  58  95  90
1  82  53  68  45  97
2  66  69  95  85  51
3  72  63  50  42  71
4  44  86  58  69  46
5  85  51  42  65  65
6  88  77  65  89  93
7  56  90  41  44  80
8  87  88  86  55  86
9  93  75  54  51  52

#### drop_duplicates(subset=['列名1','列名2'])根据指定列索引进行去重

In [280]:
concat.drop_duplicates(subset=['语文','数学'])

   语文  数学  英语  物理  化学
0  51  54  58  95  90
1  82  53  68  45  97
2  66  69  95  85  51
3  72  63  50  42  71
4  44  86  58  69  46
5  85  51  42  65  65
6  88  77  65  89  93
7  56  90  41  44  80
8  87  88  86  55  86
9  93  75  54  51  52

#### drop_duplicates(keep='last') 保留最后一次出现的重复项，删除之前的重复行

In [281]:
concat.drop_duplicates(keep='last')

    语文  数学  英语  物理  化学
10  51  54  58  95  90
11  82  53  68  45  97
12  66  69  95  85  51
13  72  63  50  42  71
14  44  86  58  69  46
15  85  51  42  65  65
16  88  77  65  89  93
17  56  90  41  44  80
18  87  88  86  55  86
19  93  75  54  51  52

### 4.10 apply() 方法 应用函数 适用于servis(列)

In [282]:
concat[concat.语文.apply(lambda x : x >90)]

    语文  数学  英语  物理  化学
9   93  75  54  51  52
19  93  75  54  51  52

### 4.11 applymap() 方法 应用函数 适用于dataframe

applymap() 是 Pandas 中 DataFrame 的一个方法，用于对 DataFrame 中的每个元素 应用一个函数。它适用于处理整个 DataFrame，并对每个单独的元素进行转换或操作，而不是按列或按行进行。
语法：
DataFrame.applymap(func)

参数：

func：要应用的函数。这个函数应该能够接受单个元素作为输入，并返回一个新的值。

返回值：

返回一个新的 DataFrame，该 DataFrame 是应用了给定函数之后的结果。

注意：

applymap() 只适用于 DataFrame，对于 Series，应该使用 apply()。

In [283]:
new = df.applymap(lambda x : '优秀' if x >90 else '良好' if x >80 else '及格' if x >60 else '不及格')
new

C:\Users\Administrator\AppData\Local\Temp\ipykernel_2932\2847070486.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  new = df.applymap(lambda x : '优秀' if x >90 else '良好' if x >80 else '及格' if x >60 else '不及格')

       语文   数学   英语   物理   化学
同学1   不及格  不及格  不及格   优秀   良好
同学2    良好  不及格   及格  不及格   优秀
同学3    及格   及格   优秀   良好  不及格
同学4    及格   及格  不及格  不及格   及格
同学5   不及格   良好  不及格   及格  不及格
同学6    良好  不及格  不及格   及格   及格
同学7    良好   及格   及格   良好   优秀
同学8   不及格   良好  不及格  不及格   及格
同学9    良好   良好   良好  不及格   良好
同学10   优秀   及格  不及格  不及格  不及格

### 4.12 rename() 方法 重命名列

In [284]:
df.rename(columns={'化学':'生物'})

      语文  数学  英语  物理  生物
同学1   51  54  58  95  90
同学2   82  53  68  45  97
同学3   66  69  95  85  51
同学4   72  63  50  42  71
同学5   44  86  58  69  46
同学6   85  51  42  65  65
同学7   88  77  65  89  93
同学8   56  90  41  44  80
同学9   87  88  86  55  86
同学10  93  75  54  51  52

### 4.13 sort_index() 索引排序

In [285]:
df.sort_index()
df

      语文  数学  英语  物理  化学
同学1   51  54  58  95  90
同学2   82  53  68  45  97
同学3   66  69  95  85  51
同学4   72  63  50  42  71
同学5   44  86  58  69  46
同学6   85  51  42  65  65
同学7   88  77  65  89  93
同学8   56  90  41  44  80
同学9   87  88  86  55  86
同学10  93  75  54  51  52

### 4.14 sort_values() 值排序

In [286]:
# ascending=False 降序排序
df.sort_values(by='语文',ascending=False)

      语文  数学  英语  物理  化学
同学10  93  75  54  51  52
同学7   88  77  65  89  93
同学9   87  88  86  55  86
同学6   85  51  42  65  65
同学2   82  53  68  45  97
同学4   72  63  50  42  71
同学3   66  69  95  85  51
同学8   56  90  41  44  80
同学1   51  54  58  95  90
同学5   44  86  58  69  46

In [287]:
# ascending=True 升序排序,默认升序排序
df.sort_values(by='语文')

      语文  数学  英语  物理  化学
同学5   44  86  58  69  46
同学1   51  54  58  95  90
同学8   56  90  41  44  80
同学3   66  69  95  85  51
同学4   72  63  50  42  71
同学2   82  53  68  45  97
同学6   85  51  42  65  65
同学9   87  88  86  55  86
同学7   88  77  65  89  93
同学10  93  75  54  51  52

In [288]:
# 你使用了 df.at('同学7','语') 这种调用方式，把 at 当作函数来调用
# at 实际上是一个访问器对象，应该使用方括号语法
# 另外，你的列名是 '语文' 而不是 '语'（除非你确实有一个列名为 '语'）
df.at['同学7','语文'] = 76
df

      语文  数学  英语  物理  化学
同学1   51  54  58  95  90
同学2   82  53  68  45  97
同学3   66  69  95  85  51
同学4   72  63  50  42  71
同学5   44  86  58  69  46
同学6   85  51  42  65  65
同学7   76  77  65  89  93
同学8   56  90  41  44  80
同学9   87  88  86  55  86
同学10  93  75  54  51  52

In [289]:
df.sort_values(by=['语文','数学'],ascending=[True,False])

      语文  数学  英语  物理  化学
同学5   44  86  58  69  46
同学1   51  54  58  95  90
同学8   56  90  41  44  80
同学3   66  69  95  85  51
同学4   72  63  50  42  71
同学7   76  77  65  89  93
同学2   82  53  68  45  97
同学6   85  51  42  65  65
同学9   87  88  86  55  86
同学10  93  75  54  51  52

### 4.15 reset_index()索引重置

In [290]:
# reset_index(drop=False) 不删除元索引
df3 = df.reset_index(drop=False)
df3

  index  语文  数学  英语  物理  化学
0   同学1  51  54  58  95  90
1   同学2  82  53  68  45  97
2   同学3  66  69  95  85  51
3   同学4  72  63  50  42  71
4   同学5  44  86  58  69  46
5   同学6  85  51  42  65  65
6   同学7  76  77  65  89  93
7   同学8  56  90  41  44  80
8   同学9  87  88  86  55  86
9  同学10  93  75  54  51  52

In [291]:
# 重置索引删除原索引
df2 = df.reset_index(drop=True)
df2

   语文  数学  英语  物理  化学
0  51  54  58  95  90
1  82  53  68  45  97
2  66  69  95  85  51
3  72  63  50  42  71
4  44  86  58  69  46
5  85  51  42  65  65
6  76  77  65  89  93
7  56  90  41  44  80
8  87  88  86  55  86
9  93  75  54  51  52

### 4.16 set_index() 索引设置

In [294]:
df4 = df.set_index("语文")
df4

    数学  英语  物理  化学
语文
51  54  58  95  90
82  53  68  45  97
66  69  95  85  51
72  63  50  42  71
44  86  58  69  46
85  51  42  65  65
76  77  65  89  93
56  90  41  44  80
87  88  86  55  86
93  75  54  51  52

In [295]:
### 4.17 to_csv() 保存为csv文件

In [296]:
### 4.18 to_excel() 保存为excel文件

In [297]:
### 4.19 to_dict() 转换为字典

In [298]:
### to_json() 保存为json文件

In [299]:
### to_html() 保存为html文件

In [300]:
### to_sql() 保存为sql文件

In [301]:
### to_pickle() 保存为pickle文件

In [302]:
### to_numpy() 转换为numpy数组

In [303]:
### to_latex() 保存为latex文件