# 数据读写

## 读写到csv文件

### 读csv文件

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("./data/stock_day.csv", encoding="utf-8")
df

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,13.112,13.112,13.112,115090.18,115090.18,115090.18,6.16
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30

In [7]:
df[:10].to_csv("./data/stock_day_10.csv", encoding="utf-8", index=False)
pd.read_csv("./data/stock_day_10.csv")

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
0,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
1,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
3,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
4,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
5,21.40,21.90,21.48,21.31,30802.45,0.28,1.32,21.342,22.103,23.387,39694.65,45518.14,65161.68,0.77
6,20.70,21.40,21.19,20.63,32445.39,0.82,4.03,21.504,22.338,23.533,44645.16,45679.94,68686.33,0.81
7,21.20,21.46,20.36,20.19,54304.01,-1.50,-6.86,21.920,22.596,23.645,48624.36,48982.38,70552.47,1.36
8,21.79,22.09,21.88,21.75,27068.16,0.09,0.41,22.372,23.009,23.839,44411.98,48612.16,73852.45,0.68
9,22.69,23.11,21.80,21.29,53853.25,-0.50,-2.24,22.480,23.258,23.929,52281.28,56315.11,74925.33,1.35

In [8]:
df.open.add(2)

2018-02-27    25.53
2018-02-26    24.80
2018-02-23    24.88
2018-02-22    24.25
2018-02-14    23.49
              ...
2015-03-06    15.17
2015-03-05    14.88
2015-03-04    14.80
2015-03-03    14.52
2015-03-02    14.25
Name: open, Length: 643, dtype: float64

## 读写数据库

In [9]:
# index_col 告诉索引列是哪一列
df = pd.read_csv("./data/csv示例文件.csv", encoding="GBK",index_col=0)
df

     birthday name   AKA
0    1960/5/7  刘海柱  职业法师
1    1978/9/1  赵金龙   大力哥
2  1984/12/27  周立齐  窃格瓦拉
3   1969/1/24   于谦  相声皇后

In [10]:
df = pd.read_csv("./data/csv示例文件.csv", encoding="GBK")
df

   Unnamed: 0    birthday name   AKA
0           0    1960/5/7  刘海柱  职业法师
1           1    1978/9/1  赵金龙   大力哥
2           2  1984/12/27  周立齐  窃格瓦拉
3           3   1969/1/24   于谦  相声皇后

In [11]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:123456@localhost:3306/ai_chat_db?charset=utf8')
df.to_sql('my_sql', engine, if_exists='replace')

4

In [12]:
pd.read_sql('my_sql', engine,index_col="index")

       Unnamed: 0    birthday name   AKA
index
0               0    1960/5/7  刘海柱  职业法师
1               1    1978/9/1  赵金龙   大力哥
2               2  1984/12/27  周立齐  窃格瓦拉
3               3   1969/1/24   于谦  相声皇后

In [13]:
pd.read_sql("select * from my_sql limit 3", engine,index_col="index")

       Unnamed: 0    birthday name   AKA
index
0               0    1960/5/7  刘海柱  职业法师
1               1    1978/9/1  赵金龙   大力哥
2               2  1984/12/27  周立齐  窃格瓦拉

## 读写json文件

```javascript
常用参数：

path_or_buffer:
读取JSON 数据的路径或类文件对象，支持字符串路径、URL 或文件对象。如果提供的是 URL，会自动从 URL 下载数据。
例如：'file.json'、'http://example.com/data.json' 或 StringIO('{"a": 1, "b": 2}')。

orient:
用于指定 JSON 对象的布局方式，决定 JSON 数据如何解析。可以是以下之一：
'split': 字典结构，{"index": [], "columns": [], "data": []}。
'records': 每条记录为一个字典，[{"col1": val1, "col2": val2}, ...]。
'index': 用索引为键的字典结构，{index: {column: value}}。
'columns': 用列名为键的字典结构，{column: {index: value}}。
'values': 仅返回二维数据结构，[values]。
默认情况下，Pandas 会自动推测并选择最适合的布局。

typ:
指定返回的类型，默认值为 'frame'，即返回一个 DataFrame。如果设置为 'series'，则返回一个 Pandas Series 对象（适用于数据中只有单一列时）。

dtype:
允许指定每一列的数据类型。可以传入字典，键为列名，值为目标数据类型。

convert_axes:
是否转换轴（index 和 columns）。默认值为 True。

convert_dates:
如果为 True，Pandas 会尝试自动解析日期格式并将其转换为 datetime 类型。默认值为 True。

keep_default_dates:
如果为 True，默认日期列会被转换为 datetime 类型。设置为 False 时，默认日期列会被保留为字符串。
encoding:
用于指定文件的字符编码，默认为 'utf-8'。
lines:
如果 JSON 数据是逐行存储的（即每行是一个 JSON 对象），则需要设置为 True。例如，每行表示一个独立的记录。
chunksize:
如果设置为正整数，表示每次返回指定大小的 JSON 数据块，适用于处理大数据集。
```

In [14]:
json = pd.read_json("./data/test.json", orient="records", lines=True, chunksize=1024)
for i, e in enumerate(json):
    print(e.head())

                                        article_link  \
0  https://www.huffingtonpost.com/entry/versace-b...
1  https://www.huffingtonpost.com/entry/roseanne-...
2  https://www.huffingtonpost.com/entry/versace-b...
3  https://www.huffingtonpost.com/entry/roseanne-...
4  https://www.huffingtonpost.com/entry/versace-b...

                                            headline  is_sarcastic
0  former versace store clerk sues over secret 'b...             0
1  the 'roseanne' revival catches up to our thorn...             0
2  former versace store clerk sues over secret 'b...             0
3  the 'roseanne' revival catches up to our thorn...             0
4  former versace store clerk sues over secret 'b...             0

In [15]:
json = pd.read_json("./data/test.json", orient="records", lines=True)
json

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
3,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
4,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0

In [16]:
json.to_json("./data/test1.json",orient="split")
pd.read_json("./data/test1.json",orient="split")

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
3,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
4,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0

In [17]:
json.to_json("./data/test2.json",orient="index")
pd.read_json("./data/test2.json",orient="index")

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
3,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
4,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0

In [18]:
json.to_json("./data/test1.json",orient="columns")
pd.read_json("./data/test1.json",orient="columns")

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
3,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
4,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0

In [19]:
json.to_json("./data/test1.json",orient="values")
pd.read_json("./data/test1.json",orient="values")

,0,1,2
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
3,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
4,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0