# pandas数据结构

## 1. series对象

> series 是dataframe的列对象,本身也具有索引,如果没有指定索引,那么默认索引是 0 - le()-1

In [1]:
import pandas as pd

## 1.1 创建series对象

### 1.1.1 通过列表创建series对象

In [2]:
list1 = [1,2,3,4,5]
pd.Series(list1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
pd.Series(list1,index=['a','b','c','d','e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

### 1.1.2 通过字典创建series对象

In [4]:
# 通过数据字典创建的series对象,索引为字典key
dict1 = {'a':1,'b':2,'c':3,'d':4,'e':5}
pd.Series(dict1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

### 1.1.3 通过元组创建series对象

In [5]:
tuple1 = ('a','b','c','d','e')
pd.Series(tuple1)

0    a
1    b
2    c
3    d
4    e
dtype: object

### 1.1.4 通过numpy创建series对象

In [6]:
import numpy as np
pd.Series(np.arange(10),index=[np.arange(10)])

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

## 1.2 series对象属性

In [7]:
# 列表推导式
list1 = [i for i in range(5)]
index1 = [i for i in 'ABCDE']
s1 = pd.Series(data=list1,index=index1)
print(s1)

A    0
B    1
C    2
D    3
E    4
dtype: int64

### 1.2.1 获取s对象的元素

In [8]:
s1.values

array([0, 1, 2, 3, 4])

### 1.2.2 修改s的值

In [9]:
s1[0] = 10
s1

/var/folders/sn/slf546c97n58twkgwfy9rwth0000gn/T/ipykernel_6858/485159625.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s1[0] = 10

A    10
B     1
C     2
D     3
E     4
dtype: int64

In [10]:
s1['B']=99
s1

A    10
B    99
C     2
D     3
E     4
dtype: int64

## 2 创建DATAFRAME对象

```javascript
1. 通过读取文件返回df对象
2. 通过字典,元组,列表等进行创建df对象
```

### 2.1 通过字典+列表的方式进行创建

In [11]:
# 场景1 通过字典+列表的方式进行创建
dict1 = {'name':['张三','李四','王五'],'age':[18,19,20],'gender':['男','女','女']}
df = pd.DataFrame(dict1)
df

  name  age gender
0   张三   18      男
1   李四   19      女
2   王五   20      女

### 2.2 通过元组+列表的方式进行创建

In [12]:
list1 = [('张三',18,'男'),('李四',19,'女'),('王五',20,'女')]
df = pd.DataFrame(list1)
df

    0   1  2
0  张三  18  男
1  李四  19  女
2  王五  20  女

In [13]:
df1 = pd.DataFrame(list1,columns=['name','age','gender'])
df1

  name  age gender
0   张三   18      男
1   李四   19      女
2   王五   20      女

### 2.3 通过ndarray对象进行创建

In [14]:
arr1 = np.arange(12).reshape(3, 4)
arr1
pd.DataFrame(arr1,columns=['a','b','c','d'],index=['A','B','C'])

   a  b   c   d
A  0  1   2   3
B  4  5   6   7
C  8  9  10  11

### 2.4 学生成绩案例

In [15]:
ndarray = np.random.randint(40,100,(10,5))
df = pd.DataFrame(ndarray,columns=['语文','数学','英语','物理','化学'],index=[f'同学{i+1}' for i in range(ndarray.shape[0])])
df

      语文  数学  英语  物理  化学
同学1   62  82  69  76  49
同学2   47  43  92  64  67
同学3   98  64  65  95  75
同学4   70  53  91  67  60
同学5   89  87  83  77  70
同学6   48  60  98  78  47
同学7   98  55  47  55  50
同学8   49  41  64  43  96
同学9   83  72  48  79  49
同学10  66  61  77  78  92

In [16]:
# 方式二:
index_name = [f'同学{i+1}' for i in range(ndarray.shape[0])]
columns_name = ['语文','数学','英语','物理','化']
ndarray = np.random.randint(40,100,(10,5))
df = pd.DataFrame(ndarray)
# 想使用rename的前提是创建了dataframe对象,且进行了实例化
df.rename(
    index = {i:index_name[i] for i in range(ndarray.shape[0])},
    columns={i:columns_name[i] for i in range(ndarray.shape[1])},
    inplace=True
)
df

      语文  数学  英语  物理   化
同学1   53  88  97  63  75
同学2   70  69  97  82  85
同学3   98  77  73  45  73
同学4   46  79  40  77  81
同学5   67  68  57  66  93
同学6   84  41  62  89  63
同学7   43  54  84  54  67
同学8   87  58  52  51  48
同学9   55  77  70  73  55
同学10  70  69  76  64  44

In [17]:
df

      语文  数学  英语  物理   化
同学1   53  88  97  63  75
同学2   70  69  97  82  85
同学3   98  77  73  45  73
同学4   46  79  40  77  81
同学5   67  68  57  66  93
同学6   84  41  62  89  63
同学7   43  54  84  54  67
同学8   87  58  52  51  48
同学9   55  77  70  73  55
同学10  70  69  76  64  44