In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/movie.csv")

In [11]:
#（1）按照导演进行分组，计算每位导演票房收入（gross列）总和
df_group = df.groupby("director_name", as_index=False).agg(
    {"gross": "sum"}
)
df_group

           director_name       gross
0          A. Raven Cruz         0.0
1             Aaron Hann         0.0
2        Aaron Schneider   9176553.0
3          Aaron Seltzer  48546578.0
4           Abel Ferrara   1227324.0
...                  ...         ...
2392       Zoran Lisinac         0.0
2393  Álex de la Iglesia      3607.0
2394    Émile Gaudreault   6239558.0
2395        Éric Tessier         0.0
2396       Étienne Faure         0.0

[2397 rows x 2 columns]

In [10]:
# （2）对上一步结果进行排序，求出票房前十的导演名称
df_group.gross.sort_values(ascending=False).head(10)

2156    4.114233e+09
1529    2.195444e+09
1785    2.112884e+09
922     1.948126e+09
373     1.813228e+09
764     1.741418e+09
1953    1.619309e+09
334     1.618708e+09
2218    1.557079e+09
2023    1.478116e+09
Name: gross, dtype: float64