# 高级处理_交叉表和透视表

## 交叉表

In [1]:
import pandas as pd
import numpy as np

In [5]:
# 创建一个示例数据集
data = {
    '性别': ['男', '女', '男', '女', '男', '女', '女', '男'],
    '购买': ['是', '否', '是', '是', '否', '否', '是', '否']
}

df = pd.DataFrame(data)
df

  性别 购买
0  男  是
1  女  否
2  男  是
3  女  是
4  男  否
5  女  否
6  女  是
7  男  否

In [7]:
# 创建交叉表
crosstab = pd.crosstab(df['性别'], df['购买'])
crosstab

购买  否  是
性别
女   2  2
男   2  2

## 透视表

In [8]:
data = {
    '性别': ['男', '女', '男', '女', '男', '女'],
    '购买': ['是', '否', '是', '是', '否', '否'],
    '金额': [100, 150, 200, 130, 160, 120]
}
df = pd.DataFrame(data)

# 创建透视表
pivot_table = pd.pivot_table(df, values='金额', index='性别', columns='购买', aggfunc='mean')
pivot_table

购买      否      是
性别
女   135.0  130.0
男   160.0  150.0