In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 数据分组

## 数据准备

In [18]:
df = pd.read_csv('data/uniqlo.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22293 entries, 0 to 22292
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      22293 non-null  int64
 1   city          22293 non-null  object
 2   channel       22293 non-null  object
 3   gender_group  22293 non-null  object
 4   age_group     22293 non-null  object
 5   wkd_ind       22293 non-null  object
 6   product       22293 non-null  object
 7   customer      22293 non-null  int64
 8   revenue       22293 non-null  float64
 9   order         22293 non-null  int64
 10  quant         22293 non-null  int64
 11  unit_cost     22293 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 2.0+ MB

## 数据分组

- 分组聚合
    - 格式: groupby(['分组字段1', '分组字段2'....]).agg(
        {
            '字段1': ['聚合函数1', '聚合函数2', '聚合函数3'],
            '字段2': ['聚合函数1', '聚合函数2', '聚合函数3'],
            '字段3': ['聚合函数1', '聚合函数2', '聚合函数3'],
            '字段4': ['聚合函数1', '聚合函数2', '聚合函数3'],
        }
    )

In [19]:
df.groupby(['city'])

In [20]:
df.groupby('city')

In [21]:
df.groupby(['city', 'channel']).order

In [22]:
# 获取分组数据
df.groupby(['city', 'channel']).get_group(('北京', '线下'))

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
9,21,北京,线下,Female,45-49,Weekend,毛衣,1,199.00,1,1,99
168,21,北京,线下,Female,35-39,Weekday,毛衣,3,447.00,3,3,99
175,21,北京,线下,Female,45-49,Weekend,配件,1,149.00,1,1,29
263,21,北京,线下,Male,20-24,Weekday,T恤,1,55.33,1,1,49
289,21,北京,线下,Female,35-39,Weekend,牛仔裤,1,199.00,1,1,69
...,...,...,...,...,...,...,...,...,...,...,...,...
22037,21,北京,线下,Female,20-24,Weekday,T恤,7,493.00,7,7,49
22110,21,北京,线下,Male,50-54,Weekend,当季新品,1,79.00,1,1,59
22192,21,北京,线下,Female,20-24,Weekday,T恤,7,693.00,7,7,49
22273,21,北京,线下,Female,20-24,Weekday,当季新品,2,288.00,2,2,59
22280,21,北京,线下,Female,35-39,Weekend,T恤,1,59.00,1,1,49

## 数据分组,聚合

In [23]:
# 写法一:
df.groupby(['city', 'channel']).agg(
    {
        'revenue': "sum"
    }
)

                revenue
city channel
上海   线上       114438.09
     线下       275383.64
北京   线下       130458.62
南京   线下       123150.93
广州   线上       200893.30
     线下       117231.19
成都   线下       208189.86
杭州   线下       589518.49
武汉   线上       281420.73
     线下       308357.05
深圳   线下       733123.68
西安   线上        30088.01
     线下       180686.61
重庆   线上        26330.35
     线下       237162.30

In [24]:
# 写法二:
df.groupby(['city', 'channel']).revenue.sum()

city  channel
上海    线上         114438.09
      线下         275383.64
北京    线下         130458.62
南京    线下         123150.93
广州    线上         200893.30
      线下         117231.19
成都    线下         208189.86
杭州    线下         589518.49
武汉    线上         281420.73
      线下         308357.05
深圳    线下         733123.68
西安    线上          30088.01
      线下         180686.61
重庆    线上          26330.35
      线下         237162.30
Name: revenue, dtype: float64

In [25]:
# 写法三
df.groupby(['city', 'channel'])['revenue'].sum()

city  channel
上海    线上         114438.09
      线下         275383.64
北京    线下         130458.62
南京    线下         123150.93
广州    线上         200893.30
      线下         117231.19
成都    线下         208189.86
杭州    线下         589518.49
武汉    线上         281420.73
      线下         308357.05
深圳    线下         733123.68
西安    线上          30088.01
      线下         180686.61
重庆    线上          26330.35
      线下         237162.30
Name: revenue, dtype: float64

In [26]:
df.groupby(['city', 'channel'])[['revenue']].sum()

                revenue
city channel
上海   线上       114438.09
     线下       275383.64
北京   线下       130458.62
南京   线下       123150.93
广州   线上       200893.30
     线下       117231.19
成都   线下       208189.86
杭州   线下       589518.49
武汉   线上       281420.73
     线下       308357.05
深圳   线下       733123.68
西安   线上        30088.01
     线下       180686.61
重庆   线上        26330.35
     线下       237162.30

In [29]:
# 多个字段
df.groupby(['city', 'channel']).agg({
    'revenue': "sum",
    'order': "sum"
})

                revenue  order
city channel
上海   线上       114438.09   1237
     线下       275383.64   2800
北京   线下       130458.62   1303
南京   线下       123150.93   1113
广州   线上       200893.30   2115
     线下       117231.19   1277
成都   线下       208189.86   2263
杭州   线下       589518.49   6196
武汉   线上       281420.73   2895
     线下       308357.05   3101
深圳   线下       733123.68   7475
西安   线上        30088.01    325
     线下       180686.61   1954
重庆   线上        26330.35    251
     线下       237162.30   2523

In [30]:
# 方式二:
df.groupby(['city', 'channel'])[['revenue', 'order']].sum()

                revenue  order
city channel
上海   线上       114438.09   1237
     线下       275383.64   2800
北京   线下       130458.62   1303
南京   线下       123150.93   1113
广州   线上       200893.30   2115
     线下       117231.19   1277
成都   线下       208189.86   2263
杭州   线下       589518.49   6196
武汉   线上       281420.73   2895
     线下       308357.05   3101
深圳   线下       733123.68   7475
西安   线上        30088.01    325
     线下       180686.61   1954
重庆   线上        26330.35    251
     线下       237162.30   2523

In [32]:
# 多字段的不同聚合函数
df.groupby(['city', 'channel']).agg(
    {
        'revenue': "mean",
        'order': "sum"
    }
)

                 revenue  order
city channel
上海   线上       187.603426   1237
     线下       154.623043   2800
北京   线下       226.098128   1303
南京   线下       246.301860   1113
广州   线上       153.470817   2115
     线下       133.368817   1277
成都   线下       136.160798   2263
杭州   线下       155.751252   6196
武汉   线上       180.977961   2895
     线下       153.258971   3101
深圳   线下       167.993511   7475
西安   线上       128.581239    325
     线下       131.791838   1954
重庆   线上       144.672253    251
     线下       147.764673   2523

## 对聚合后的列进行别名

In [28]:
df.groupby(['city', 'channel']).agg(
    销售总额=('revenue', "sum"),
    订单数总量=('order', "sum")
)

                   销售总额  订单数总量
city channel
上海   线上       114438.09   1237
     线下       275383.64   2800
北京   线下       130458.62   1303
南京   线下       123150.93   1113
广州   线上       200893.30   2115
     线下       117231.19   1277
成都   线下       208189.86   2263
杭州   线下       589518.49   6196
武汉   线上       281420.73   2895
     线下       308357.05   3101
深圳   线下       733123.68   7475
西安   线上        30088.01    325
     线下       180686.61   1954
重庆   线上        26330.35    251
     线下       237162.30   2523

## 分组过滤

In [33]:
df.groupby(['city']).filter(lambda x: x['revenue'].mean() > 200)

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
9,21,北京,线下,Female,45-49,Weekend,毛衣,1,199.0,1,1,99
23,19,南京,线下,Female,35-39,Weekend,T恤,4,176.0,4,4,49
40,19,南京,线下,Female,45-49,Weekday,毛衣,2,198.0,2,2,99
62,19,南京,线下,Female,35-39,Weekend,T恤,2,197.0,2,2,49
168,21,北京,线下,Female,35-39,Weekday,毛衣,3,447.0,3,3,99
...,...,...,...,...,...,...,...,...,...,...,...,...
22182,19,南京,线下,Female,30-34,Weekend,当季新品,1,79.0,1,1,59
22192,21,北京,线下,Female,20-24,Weekday,T恤,7,693.0,7,7,49
22251,19,南京,线下,Female,45-49,Weekend,短裤,1,39.0,1,1,19
22273,21,北京,线下,Female,20-24,Weekday,当季新品,2,288.0,2,2,59
22280,21,北京,线下,Female,35-39,Weekend,T恤,1,59.0,1,1,49