# 高级处理_数据合并

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns

In [2]:
plt.style.use('ggplot')

## 数据读取

In [4]:
df = pd.read_csv('./data/1960-2019全球GDP数据.csv',encoding='gbk')
df1 = df.head(10)
df1

   year country           GDP
0  1960      美国  543300000000
1  1960      英国   73233967692
2  1960      法国   62225478000
3  1960      中国   59716467625
4  1960      日本   44307342950
5  1960     加拿大   40461721692
6  1960     意大利   40385288344
7  1960      印度   37029883875
8  1960    澳大利亚   18577668271
9  1960      瑞典   15822585033

In [5]:
df2 = df[10:20]
df2

    year country          GDP
10  1960      巴西  15165569912
11  1960     土耳其  13995067817
12  1960     墨西哥  13040000000
13  1960      荷兰  12276734172
14  1960     西班牙  12072126075
15  1960     比利时  11658722590
16  1960      瑞士   9522746719
17  1960    委内瑞拉   7779090909
18  1960      南非   7575396972
19  1960     菲律宾   6684568805

## concat() 函数 dataframe合并

In [6]:
# 列合并,根据列名进行合并
new_df = pd.concat([df1,df2],axis=0)
new_df

    year country           GDP
0   1960      美国  543300000000
1   1960      英国   73233967692
2   1960      法国   62225478000
3   1960      中国   59716467625
4   1960      日本   44307342950
5   1960     加拿大   40461721692
6   1960     意大利   40385288344
7   1960      印度   37029883875
8   1960    澳大利亚   18577668271
9   1960      瑞典   15822585033
10  1960      巴西   15165569912
11  1960     土耳其   13995067817
12  1960     墨西哥   13040000000
13  1960      荷兰   12276734172
14  1960     西班牙   12072126075
15  1960     比利时   11658722590
16  1960      瑞士    9522746719
17  1960    委内瑞拉    7779090909
18  1960      南非    7575396972
19  1960     菲律宾    6684568805

In [7]:
# 行合并,根据行的索引进行合并
new_df = pd.concat([df1,df2],axis=1)
new_df

      year country           GDP    year country           GDP
0   1960.0      美国  5.433000e+11     NaN     NaN           NaN
1   1960.0      英国  7.323397e+10     NaN     NaN           NaN
2   1960.0      法国  6.222548e+10     NaN     NaN           NaN
3   1960.0      中国  5.971647e+10     NaN     NaN           NaN
4   1960.0      日本  4.430734e+10     NaN     NaN           NaN
5   1960.0     加拿大  4.046172e+10     NaN     NaN           NaN
6   1960.0     意大利  4.038529e+10     NaN     NaN           NaN
7   1960.0      印度  3.702988e+10     NaN     NaN           NaN
8   1960.0    澳大利亚  1.857767e+10     NaN     NaN           NaN
9   1960.0      瑞典  1.582259e+10     NaN     NaN           NaN
10     NaN     NaN           NaN  1960.0      巴西  1.516557e+10
11     NaN     NaN           NaN  1960.0     土耳其  1.399507e+10
12     NaN     NaN           NaN  1960.0     墨西哥  1.304000e+10
13     NaN     NaN           NaN  1960.0      荷兰  1.227673e+10
14     NaN     NaN           NaN  1960.0     西班牙  1.207213e+10
15     NaN     NaN           NaN  1960.0     比利时  1.165872e+10
16     NaN     NaN           NaN  1960.0      瑞士  9.522747e+09
17     NaN     NaN           NaN  1960.0    委内瑞拉  7.779091e+09
18     NaN     NaN           NaN  1960.0      南非  7.575397e+09
19     NaN     NaN           NaN  1960.0     菲律宾  6.684569e+09

In [9]:
df2.index = [i for i in range(5,15)]
df2

    year country          GDP
5   1960      巴西  15165569912
6   1960     土耳其  13995067817
7   1960     墨西哥  13040000000
8   1960      荷兰  12276734172
9   1960     西班牙  12072126075
10  1960     比利时  11658722590
11  1960      瑞士   9522746719
12  1960    委内瑞拉   7779090909
13  1960      南非   7575396972
14  1960     菲律宾   6684568805

In [10]:
# 默认outer 全连接
pd.concat([df1,df2],axis=1,join='outer')

      year country           GDP    year country           GDP
0   1960.0      美国  5.433000e+11     NaN     NaN           NaN
1   1960.0      英国  7.323397e+10     NaN     NaN           NaN
2   1960.0      法国  6.222548e+10     NaN     NaN           NaN
3   1960.0      中国  5.971647e+10     NaN     NaN           NaN
4   1960.0      日本  4.430734e+10     NaN     NaN           NaN
5   1960.0     加拿大  4.046172e+10  1960.0      巴西  1.516557e+10
6   1960.0     意大利  4.038529e+10  1960.0     土耳其  1.399507e+10
7   1960.0      印度  3.702988e+10  1960.0     墨西哥  1.304000e+10
8   1960.0    澳大利亚  1.857767e+10  1960.0      荷兰  1.227673e+10
9   1960.0      瑞典  1.582259e+10  1960.0     西班牙  1.207213e+10
10     NaN     NaN           NaN  1960.0     比利时  1.165872e+10
11     NaN     NaN           NaN  1960.0      瑞士  9.522747e+09
12     NaN     NaN           NaN  1960.0    委内瑞拉  7.779091e+09
13     NaN     NaN           NaN  1960.0      南非  7.575397e+09
14     NaN     NaN           NaN  1960.0     菲律宾  6.684569e+09

In [11]:
# 默认outer 内连接
pd.concat([df1,df2],axis=1,join='inner')

   year country          GDP  year country          GDP
5  1960     加拿大  40461721692  1960      巴西  15165569912
6  1960     意大利  40385288344  1960     土耳其  13995067817
7  1960      印度  37029883875  1960     墨西哥  13040000000
8  1960    澳大利亚  18577668271  1960      荷兰  12276734172
9  1960      瑞典  15822585033  1960     西班牙  12072126075

## merge() 函数 dataframe合并

- pd.merge(left, right, how='inner', on=None)
  - 可以指定按照两组数据的共同键值对合并或者左右各自
  - `left`: DataFrame
  - `right`: 另一个DataFrame
  - `on`: 指定的共同键
  - how:按照什么方式连接

| Merge method | SQL Join Name      | Description                               |
| ------------ | ------------------ | ----------------------------------------- |
| `left`       | `LEFT OUTER JOIN`  | Use keys from left frame only             |
| `right`      | `RIGHT OUTER JOIN` | Use keys from right frame only            |
| `outer`      | `FULL OUTER JOIN`  | Use union of keys from both frames        |
| `inner`      | `INNER JOIN`       | Use intersection of keys from both frames |

### merge(join='inner') 函数 内连接

In [12]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                        'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                        'key2': ['K0', 'K0', 'K0', 'K0'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})

# 默认内连接
result = pd.merge(left, right, on=['key1', 'key2'])
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

### merge(join='outer') 函数 外连接

In [13]:
pd.merge(left, right, on=['key1', 'key2'], how='outer')

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K0  NaN  NaN   C3   D3
5   K2   K1   A3   B3  NaN  NaN

### merge(join='left') 函数 左连接

In [14]:
pd.merge(left, right, on=['key1', 'key2'], how='left')

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

### merge(join='right') 函数 右连接

In [15]:
pd.merge(left, right, on=['key1', 'key2'], how='right')

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3